@import "../../style/CommonStyle/reset";
@import "../../style/CommonStyle/variables";

$myFont: Helvetica, sans-serif;
nav{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    background-color:#263A53;
    a{
        color:white;
        text-decoration: none;
        font-size: 17px;
        font-family: myFont;
      &:hover
       {
            background-color:#8099bc;
            border: 1px solid white;
       }
    

    } 
   }

.logo{
    font-size: 30px;
    font-weight: 600;
}

nav{
    ul{
        a{
           
            margin-right: 50px;
        }
    }
}


nav ul a:hover{
    color: var(--blue);
}


@media only screen and (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        line-height: 2;
        text-align: center;
    }
}