@import"../../style/CommonStyle/variables.scss";
@import"../../style/CommonStyle/_mixins.scss";

.about-me {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    font-family: 'Work Sans', sans-serif;
    font-weight: regular;
    color: var(--light-grey);
  }

  .portfolio-container {
    width: 1134px;
    max-width: 100%;
    margin: 0px auto;
    padding: 1.5em;
  }

  .hero {
    height: 860px;
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
    grid-column-gap: 12px;
  }

  .hero--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / span 5;
    padding: 50px 0;
  }

  .hero--bio {
    grid-column: 7 / span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 3rem;
    color: var(--dark-grey);
    margin-bottom: .785em;
    position: relative;

  }

  .specialities {
    @include flex-center-row
  }
  .skillWrap
  {
    background-color: rgba(255, 255, 255, 0.619);
    padding: 1rem;
  }

  .main {
    @include flex-center-row;

    .skill img {
      height: 80px;

      &:hover {
        transition: transform .2s;
        -ms-transform: scale(1.5);     
        -webkit-transform: scale(1.5);      
        transform: scale(1.5);

      }

    }

    .skill {
      padding: 1.5rem;

      h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2rem;
        padding: 3rem;
        @include flex-center-row;



      }

      p {
        @include line-clamp(3);
        font-size: 1.5rem;
        line-height: 155%;
        color: #263A53;
        

      }
      strong{
        text-align: center;
        @include flex-center-row;
        background-color: #263A53;
       border-radius: white solid 5px;
        color: white;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    .skillImage {
      @include flex-center-row;
    }
  }

  h3 {
    font-size: 2.2rem;
  }

  .basic-info {
    font-size: 1.5rem;
    line-height: 155%;
    padding-block: 2em;
  }

  .col {
    text-align: center;


  }

  .title {
    color: $secondary-color;
  }

  .education {
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $secondary-color;
      padding: 2rem;

    }
  }

  .education {
    padding: 2rem;
    color: #263A53;
  }

  @media screen and (max-width: 561px) {
    .portfolio-container {
      .hero--image {
        display: none;
      }

      .hero {
        display: block;
        height: auto !important;
      }


    }
  }
}